# Created At 2018-04-03 22:07:24

[mysqld]
user                                 = user7
basedir                              = /usr/local/mysql/
bind-address                         = 0.0.0.0
binlog-cache-size                    = 1M
binlog-format                        = MIXED
character-set-server                 = utf8mb4
character-sets-dir                   = /usr/local/mysql/share/charsets/
collation-server                     = utf8mb4_unicode_ci
datadir                              = /usr/local/mysql/datadir/
default-storage-engine               = InnoDB
default-time-zone                    = +8:00
default-tmp-storage-engine           = InnoDB
expire-logs-days                     = 14
explicit-defaults-for-timestamp      = 1
general-log                          = 0
general-log-file                     = /usr/local/mysql/logdir/general.log
gtid-mode                            = OFF
innodb-buffer-pool-size              = 768M
innodb-data-file-path                = ibdata1:16M:autoextend
innodb-disable-sort-file-cache       = 1
innodb-file-per-table                = 1
innodb-flush-log-at-trx-commit       = 1
innodb-flush-method                  = O_DIRECT
innodb-flush-neighbors               = 0
innodb-io-capacity                   = 300
innodb-lock-wait-timeout             = 90
innodb-log-buffer-size               = 16M
innodb-log-file-size                 = 64M
innodb-log-files-in-group            = 3
innodb-read-io-threads               = 8
innodb-write-io-threads              = 4
key-buffer-size                      = 16M
local-infile                         = 1
log-bin                              = /usr/local/mysql/binlogfile
log-error                            = /usr/local/mysql/logdir/error.log
log-output                           = FILE
log-queries-not-using-indexes        = 0
log-timestamps                       = SYSTEM
log-error-verbosity                  = 1
max-allowed-packet                   = 16M
max-connect-errors                   = 100000
max-connections                      = 512
max-heap-table-size                  = 64M
open-files-limit                     = 65535
pid-file                             = /usr/local/mysql/pidfile.pid
plugin-dir                           = /usr/local/mysql/lib/mysql/plugin/
port                                 = 3306
query-cache-type                     = 0
read-rnd-buffer-size                 = 2M
server-id                            = 3306901
skip-name-resolve                    = 1
slow-query-log                       = 1
slow-query-log-file                  = /usr/local/mysql/logdir/slow.log
socket                               = /tmp/mysql.sock
sort-buffer-size                     = 1M
sql-mode                             = ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION,NO_AUTO_VALUE_ON_ZERO
sync-binlog                          = 1
table-open-cache                     = 4000
table-open-cache-instances           = 16
thread-cache-size                    = 18
tmp-table-size                       = 64M
tmpdir                               = /usr/local/mysql/tmpdir/
wait-timeout                         = 3600

[mysql]
auto-rehash                          = 0
bind-address                         = 0.0.0.0
default-character-set                = utf8mb4
local-infile                         = 1
port                                 = 3306
socket                               = /tmp/mysql.sock
safe-updates                         = 1
max-allowed-packet                   = 16M

[mysqld_safe]
open-files-limit                     = 65535

[mysqldump]
bind-address                         = 0.0.0.0
comments                             = 1
default-character-set                = utf8mb4
max-allowed-packet                   = 64M
port                                 = 3306
quick                                = 1
socket                               = /tmp/mysql.sock

[mysqlimport]
bind-address                         = 0.0.0.0
default-character-set                = utf8mb4
port                                 = 3306
socket                               = /tmp/mysql.sock
